body {
  width: 100%;
  height: 100%;
  background-color: white;
}

.center {
  margin: auto;
  width: 20%;
  padding: 10px;
}

.center-text {
	margin: auto;
}

#jumbo {
	background-image: url("imagini/banner.jpg");
	height: 320px;
	width: 100%;
	margin: auto auto;
	border-bottom: 0px solid black;
	background-repeat: no-repeat;
	background-size: 120% 130%;
	border-radius: 0px !important;
	position: relative;
}

#jumboMain {
	background-image: url("imagini/1.jpg");
	--order: 1;
	width: 100%;
	height:280px;
	background-repeat: no-repeat;
	background-size: 100% 180%;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}


#jumbo-img {
	max-width: 100%;
	max-height: 100%;
}

p{
  text-align: center;
}

#main{
	opacity: 50%;
	width: 90%;
	height: auto;
}

.tab{
	width: 49.5% !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;

}

.btn-right{
	border-top-right-radius: 10px !important;
}

.btn-left{
	border-top-left-radius: 10px !important;
}

.button-wrap{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

#content-wrap{
	border: 1px solid grey;
	border-radius: 5px;
	min-height: 500px;
	padding-top: 10px !important;
}

.content{
	min-height: 100%;
	width: 100%;
}

#conv-form{
	background: rgb(3, 39, 89);
	background: rgba(3, 39, 89, 0.6);
	opacity: 20% !important;
	width: 75% !important;
	height: 50% !important;
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
	position: absolute;
	bottom: 0;
	left: 12%;
	right: 12%;
}

.dropdown{
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.noshadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

#res{
	background-color: blue;
	border-radius: 10px;
	border-radius: 1px solid black;
	height: 100% !important;
	width: 10% !important;

}

#aaa{
	margin-left: 25%;
	margin-right: 25%;
}
